:root {
    --positionY: 0;
    --positionX: 0;
}

* {
    margin: 0 0;
    padding: 0 0;
    transition: all 0.5s;
}

/* box sizing: border-box; */

body {
    background-color: white;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 1.6em;
    color: rgb(0, 214, 108);
}

h2 {
    font-size: 2em;
}

/* ---------------------------- header -------------------- */

header {
    height: 4em;
    width: 100vw;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .15);
    display: flex;
    justify-content: flex-end;
}

header div {
    width: 12em;
    margin: 1em 0;
    margin-right: auto;
    margin-left: 1em;
}

header div h2 {
    float: right;
    color: rgb(0, 214, 108);
    font-weight: 600;
    font-size: 1.8em;

}

header div a img {
    height: 2em;
    width: 2em;
    border-radius: 50px 50px;
    /margin-left: 1em;
    /float: left;
}

header div h2 {
    margin-left: -10em;

}

.fa-user-circle,
.fa-book {
    display: block;
    color: rgb(0, 214, 108);
    height: 2em;
    width: 2em;
    margin-top: 0.5em;
}

/* ---------------------------- background -------------------- */

body > section {
    text-align: center;

    display: flex;
    justify-content: center;
}

#login > section {
    background-image: url(images/jarrad-horne-541354-unsplash.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25em;
    width: 100%;
}

#overview > section {
    background-image: url(images/manuel-moreno-39516-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30em;
    width: 100%;
}

#overview > section,
#login > section {
    clip-path: polygon(60% 10%, 80% 10%, 100% 10%, 100% 90%, 60% 90%, 50% 100%, 40% 90%, 0 90%, 0 10%, 20% 10%);
}

body > section h1 {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    padding: 3% 1%;
    width: 65vw;
    height: 5%;
    margin-top: 8em;
    justify-content: center;
}

body > section p {
    font-size: 1.8em;
    color: rgb(0, 214, 108);
    border-radius: 10px;
    text-align: left;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    width: 40vw;
    margin-top: 4em;
    padding: 1% 2%;
    height: 20%;
}

/* #FBF7F4 */

/* ---------------------------- verhalen -------------------- */

#overview button {
    margin: 3em 2.5em;
    width: 17%;
    min-width: 80px;
    height: 3em;
    border-radius: 5.25em;
    background-color: rgb(2, 242, 122);
}

#overview button:hover {
    background-color: rgb(255, 50, 104);
    cursor: pointer;
}

.hide {
    display: none;
}

main section {
    background-color: rgb(0, 214, 108);
    margin: 3em auto;
    width: 80%;
    font-size: 1em;
    border-radius: 20px;
    padding-top: 1%;
    max-width: 45em;
}

main section h2 {
    text-align: center;
    background-color: rgb(0, 214, 108);
    color: white;
    padding: 8% 0;
}


section div {
    display: flex;
    overflow-x: scroll;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2% 0;
    border-bottom: solid 1px rgb(96, 96, 96);
    border-left: solid 1px rgb(96, 96, 96);
    border-right: solid 1px rgb(96, 96, 96);
}

section div a,
section div article {
    padding: 1em;
    height: 40%;
    width: 40%;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 10px;
}

section div img {
    height: 20%;
    width: 40%;
    border-radius: 10px;
}

main section:nth-child(1) h2,
main section:nth-child(1) {
    background-color: rgb(40, 0, 160);
}

main section:nth-child(2) h2,
main section:nth-child(2) {
    background-color: rgb(255, 50, 104);
}

main section:nth-child(4) h2,
main section:nth-child(4) {
    background-color: rgb(40, 0, 160);

}

main section h2 {
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

section div a img {
    margin: 1em 0;
    width: 100%;
    flex-shrink: 0;
    border-radius: 10px;
    cursor: pointer;
}

section div a article img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

article h3,
article p {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

a {
    text-decoration: none;
}

.closed-heart,
.open-heart {
    color: rgb(255, 50, 104);
}



/* ---------------------------- form -------------------- */

/* :invalid/:valid */

#login {
    background-color: #eedac8;
}

form legend {
    color: #2c2f86;
    margin-bottom: .5em;
    font-size: 2em;
}


form {
    width: 50%;
    background-color: #FBF7F4;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    transition: all .5s;
    padding: 1em;
    color: rgb(96, 96, 96);
    padding-top: 5em;
    border-radius: 1.25em;
    margin-top: 1%;
    margin-bottom: 3%;
}

input,
#login button {
    font-size: 1em;
    padding: 1.5% 0.5%;
    margin-bottom: 4%;
    border: 1px solid rgb(96, 96, 96);
    border-radius: 8px;
    width: 50%;
}

label {
    margin-bottom: 1%;
    font-size: 1em;
}

#login button {
    padding: 2% 6%;
    background-color: rgb(0, 214, 108);
    color: white;
    width: 30%;
    text-align: center;
    border: none;
    border-radius: 1.25em;
    box-shadow: 0px 4px 1px 0px rgb(30, 145, 98);
}


#login button:hover {
    background-color: rgb(2, 242, 122);
    cursor: pointer;
}

#login fieldset input:nth-child(6) {
    padding: 2% 6%;
    background-color: rgb(0, 214, 108);
    color: white;
    width: 30%;
    text-align: center;
    border: none;
    border-radius: 1.25em;
    box-shadow: 0px 4px 1px 0px rgb(30, 145, 98);
}

#login fieldset input:nth-child(6):hover {
    background-color: rgb(2, 242, 122);
    cursor: pointer;
}

fieldset {
    border: 0;
    border-style: none;
    display: flex;
    margin-top: -3em;
}

input:valid {
    background-color: rgb(2, 242, 122);
    color: white;
}

input:invalid {
    background-color: rgba(255, 0, 0, 0.4);
}

/* javascript boekenlijst */

.boekenlijst {
    opacity: 0;
}

.show {
    opacity: 1;
}

/* -------------- boekenlijst --------------- */

.boekenlijst {
    position: fixed;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(144, 144, 144);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 30%;
    top: 10%;
    right: 2%;
    min-height: 60%;
    min-width: 25em;
    padding-bottom: 1em;
}

.boekenlijst h4 {
    text-align: center;
    margin: 2% 0;
    border-bottom: solid rgb(144, 144, 144);
    border-width: 1px;
    font-size: 1.6em;
    color: rgb(0, 214, 108);
}

.boekenlijst > section {
    padding-left: 1em;
    border-bottom: solid rgb(144, 144, 144);
    border-width: 1px;
    padding-bottom: 1em;
    display: flex;
}

.boekenlijst section h5 {
    font-size: 1.6em;
}

.boekenlijst > section {
    justify-content: flex-start;
}

.boekenlijst a {
    display: block;
    justify-content: flex-end;
    color: rgb(0, 214, 108);
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: 1em;
}

.fa-arrow-alt-circle-down {
    color: rgb(0, 214, 108);
    margin-top: 100%;
    margin-left: 46%;
    margin-bottom: 0.2em;
}

.fa-arrow-right:hover,
.fa-user-circle:hover,
.fa-book:hover {
    transform: scale(0.9, 0.9);
    transition: all 0.1s;
    cursor: pointer;
}

.boekenlijst > h6 {
    color: color: rgb(0, 214, 108);
    margin-left: 40%;
}


/* --------------- verhaal moe -------------*/

#moe {
    background-color: #FBF7F4;
}

#moe main {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3em;
}

#moe main img {
    margin: auto;
    width: 13em;
    height: 100%;
}

#moe main p,
#moe main div {
    margin: auto;
    max-width: 40em;
    min-width: 20em;
}


/* ------------ blur mouse ----------- */

#moe {
    width: 100vw;
    overflow-x: hidden;
}

#moe main p,
#moe main div {
    filter: blur(3px);
}

#moe div:hover {
    filter: blur(0px);
}

div.background {
    pointer-events: none;
    transition: 0.2s;
    overflow-x: hidden;
    text-align: center;
    clip-path: circle(40% at 50% 50%);
    position: absolute;
    left: var(--positionX);
    top: var(--positionY);
    width: 4000px;
    height: 4000px;
    background-image: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(100, 100, 100, 0.7) 8%, rgba(0, 0, 0, 1) 100%);
}


/* ------- media -------- */

@media (min-width: 950px) {
    #overview > main {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 3%;
        margin-bottom: 5em;
    }

    #overview main section {
        min-width: 80%;
        justify-content: center;
        margin: 3% auto;
        max-width: 10em;
    }

    body > section h1 {
        width: 50vw;
    }

    main section:nth-child(5) h2,
    main section:nth-child(5) {
        background-color: rgb(255, 50, 104);
    }



}

@media (max-width: 650px) {
    body > section p {
        height: 45%;
        width: 40vw;
    }

    body > section h1 {
        height: 13%;
    }
}

@media (max-width: 450px) {
    #overview > section,
    #login > section {
        clip-path: polygon(60% 10%, 80% 10%, 100% 10%, 100% 90%, 60% 90%, 50% 95%, 40% 90%, 0 90%, 0 10%, 20% 10%);
    }
}

/* keyframes */

@keyframes downloadAnimatie {
    0% {
        transform: rotate(0deg) scale(1, 1);
    }
    50% {
        transform: rotate(180deg) scale(1.4, 1.4);
    }
    100% {
        transform: rotate(0deg) scale(1, 1);
    }
}

.fa-arrow-alt-circle-down {
    cursor: pointer;
    margin-bottom: 4%;
}


.download {
    animation-name: downloadAnimatie;
    animation-duration: 0.5s;
}


.loadingbar {
    width: 30%;
    height: 1em;
    border: solid 1px;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.25em;
    display: none;
}

.display {
    display: block;
}

.load {
    overflow: hidden;
    width: calc(100%-10px);
    height: 100%;
    border-radius: 1.25em;
    background: linear-gradient(rgb(0, 214, 108), #25c491);
    animation: load 5s ease;
}

.loadingbar p {
    transition: 0.1s;
    margin-top: 3%;
    text-align: center;
}

@keyframes load {
    0% {
        width: 2%;
    }
    10% {
        width: 10%;
    }
    20% {
        width: 20%;
    }
    30% {
        width: 30%;
    }
    40% {
        width: 40%;
    }
    50% {
        width: 50%;
    }
    60% {
        width: 60%;
    }
    70% {
        width: 70%;
    }
    80% {
        width: 80%;
    }
    90% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}


@keyframes scale {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.3, 1.3);
    }
    100% {
        transform: scale(1, 1);
    }
}

.scale {
    animation-name: scale;
    animation-duration: .5s;
}
